
boston_west_log.txt
*.csv
*.txt
test.rb

.bundle
db/*.sqlite3
log/*.log
log/*
tmp/**/*
\#*
\.#*
*~
config/s3.yml
.autotest
vendor/bundler_gems
.bundle/*
.DS_Store
*.swp
*.orig
tmp/
.sass-cache
*.out

yelp/logs
meetup_rsvp/logs
deals/logs
