
%style{:type => "text/css", :media => "screen"}
  :plain 
    .right{width:450px; margin:50px; float:right;}
    .left{width:450px; float:left;}
    .clear {clear:both;}

%p Eric's Silly App

%div
  - for object in @objects
    %div
      .left
        %p= object["display_name"]
        %img{ 'src' => object["images"].first["src_large"]}
      .left
        %p Tags:
        %p= object["tags"].join(", ")
        %p
      .clear
        %br

